# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
ENV/
venv/

# Editors
.vscode/
.idea/

# Ignored outputs
Sample/
*.xlsx
*.stdf
*.json

# Root folder test files
/*.xlsx
/*.stdf

# Misc
.DS_Store
Archive
